
@media (max-width: 991px) {
    .logo {
        visibility: hidden;
        
    }
    .success .container .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .success .container .cards .card {
        width: 80vw;
        justify-content: center;
    }
   
    .s-contact .container {
        flex-wrap: wrap;
    }

    .s-contact .container .form-contact {
        padding-top: 50px;
    }
  .cases {
      display: flex;
  }
}

@media (max-width: 768px) {
    .logo {
        visibility: hidden;
        
    }
    .success .container .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .success .container .cards .card {
        width: 80vw;
        justify-content: center;
    }
   
    .s-contact .container {
        flex-wrap: wrap;
    }

    .s-contact .container .form-contact {
        padding-top: 50px;
    }
  .cases {
      display: flex;
  }

}


@media (max-width: 600px) {
    .logo {
        visibility: hidden;
        
    }
    .success .container .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .success .container .cards .card {
        width: 80vw;
        justify-content: center;
    }
   
    .s-contact .container {
        flex-wrap: wrap;
    }

    .s-contact .container .form-contact {
        padding-top: 50px;
    }
  .cases {
      display: flex;
  }

}

@media (max-width: 480px) {
    .logo {
        visibility: hidden;
        
    }
    .success .container .cards {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .success .container .cards .card {
        width: 80vw;
        
    }
   
    .s-contact .container {
        flex-wrap: wrap;
    }

    .s-contact .container .form-contact {
        padding-top: 50px;
    }
  .cases {
      display: flex;
  }

}
