@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
    .logo {
        visibility: hidden;
        
    }
    .success .container {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        flex-wrap: wrap;
        justify-content: center;
      }
    .success .container .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 1.4rem;
    }
    .s-contact .container {
        flex-wrap: wrap;
    }

    .s-contact .container .form-contact {
        padding-top: 50px;
    }
  


}